*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
terraform.tfvars
lambda/*.zip
.DS_Store

# Terraform plan binaries
*.binary

# Build artifacts
terraform-deploy.zip
psycopg2-layer.zip

# Python cache
__pycache__/
*.pyc
